[submodule "submodules/libae-valkey"]
	path = submodules/libae-valkey
	url = https://github.com/vproxy-tools/libae-valkey
	branch = vproxy

[submodule "submodules/vproxy-checksum"]
	path = submodules/vproxy-checksum
	url = https://github.com/vproxy-tools/checksum
	branch = master

[submodule "submodules/poptrie"]
	path = submodules/poptrie
	url = https://github.com/vproxy-tools/poptrie
	branch = swift

[submodule "submodules/waitfree-mpsc-queue"]
	path = submodules/waitfree-mpsc-queue
	url = https://github.com/vproxy-tools/waitfree-mpsc-queue
	branch = swift
