--ifdef outdent
--hexliteralcase lowercase

--disable redundantReturn
--disable conditionalAssignment
--disable andOperator
--disable opaqueGenericParameters

--exclude ./.build
--exclude ./submodules
